@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsRoom>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
    var homepage = (ContentModels.Home)Model.Root();
    var model = Model.Root();
    var testimonial = model.Descendants<ContentModels.Testimonials>().Where(x => x.IsVisible());
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" type="image/x-icon" href="~/assets/images/favicon.ico" />

        <meta name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <!-- bootstrap css file -->
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
        <!-- all.min.css file -->
        <link rel="stylesheet" href="~/assets/css/all.min.css" />
        <!-- font-awesome css file -->

        <!-- style.css file -->
        <link rel="stylesheet" href="~/assets/css/mystyle.css" />
        <link rel="stylesheet" href="~/assets/css/media_query.css" />
        <link rel="stylesheet" href="~/assets/css/menu.css" />
        <link rel="stylesheet" href="~/assets/css/fancybox.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="~/assets/css/slick.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/assets/css/animations.css" type="text/css" />

        <link rel="stylesheet" href="~/assets/css/vertical-slide.css" type="text/css" />
        <link rel="stylesheet" href="~/assets/css/newsroom_slide.css" />

        <title>South Africa</title>
    </head>

    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="main-header black_text">
                            <div class="menu_wrp">
                                <input type="checkbox" class="menu-btn" id="menu-btn" />
                                <label for="menu-btn" class="menu-icon">
                                    <span class="menu-icon__line"></span>
                                </label>

                                <ul class="nav-links">
                                    @foreach (var link in homepage.NavLinks)
                                    {
                                        <li class="nav-link">
                                            <a href="@link.Url"> @link.Name </a>
                                        </li>
                                    }
                                </ul>

                                <div class="search_icon">
                                    <a data-fancybox data-src="#trueModal" href="javascript:;"> <i class="fa fa-search"
                                            aria-hidden="true"></i> </a>
                                </div>

                                <div class="search_popup" style="display: none;" id="trueModal">
                                    <form class="search-container">
                                        <input type="text" id="search-bar" placeholder="Search..." />
                                        <a href="#">
                                            <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                        </a>
                                    </form>
                                </div>

                                <!--  -->
                            </div>
                            <div class="logo">
                                <a href="@homepage.LogoLink.Url">
                                    <img src="@homepage.Logo.Url()" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="NoBanner">
            <div class="container top_banner_news animatedParent">
                <div class="row">
                    <div class="col-12">
                        <div class="sec_heading">
                            <h1>@Model?.MainTitle</h1>
                        </div>

                        <div class="news_list animated fadeInUpShort">
                            <div class="news_img"><img src="@Model?.MainImage.Url()" /></div>
                            <div class="news_content">
                                <div class="date">@Model?.NewsroomDate.ToString("dd-MMM-yy")</div>
                                <a href="@Model?.NewsroomLink.Url" target="_blank">
                                    @Model?.NewsroomStory
                                </a>
                                <div class="publister"><a href="@Model?.NewspaperLink.Url" target="_blank"> India Outbound </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  -->

        <section>
            <div class="container animatedParent">
                <div class="row animated fadeInUpShort">
                    <div class="col-md-6 left_news_style">
                        @foreach(var leftPanel in Model.LeftPanelNews)
                        {
                        <div class="news_list">
                            <div class="news_img"><img src="@leftPanel?.Image.Url()" /></div>

                            <div class="news_content">
                                <div class="date">@leftPanel?.NewsDate.ToString("dd-MMM-yy")</div>
                                <a href="@leftPanel?.NewsStoryLink.Url" target="_blank">
                                    @leftPanel?.NewsStory
                                </a>
                                <div class="publister">
                                    <a href="@leftPanel?.NewsLink.Url" target="_blank"> @leftPanel?.NewsName </a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>

                    <div class="col-md-6 right_news_style">
                        @foreach( var rightPanel in Model.RightPanelNews)
                        {
                        <div class="news_list">
                            <div class="news_img">
                                <a href="#"> <img src="@rightPanel?.Image.Url()" /> </a>
                            </div>
                            <div class="news_content">
                                <div class="date">@rightPanel?.NewsDate.ToString("dd-MMM-yy")</div>
                                <a href="@rightPanel?.NewsStoryLink.Url" target="">
                                    @rightPanel?.NewsStory
                                </a>
                                <div class="publister">
                                    <a href="@rightPanel?.NewsLink.Url" target=""> @rightPanel?.NewsName </a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </section>

            <!--  Media Stories Starts -->

        <section>
            <div class="container animatedParent">
                <div class="row animated fadeInUpShort">
                    <div class="col-12">
                        <div class="sld-wrp">
                            <div class="slider-nav">
                            @foreach(var item in @Model.MediaStory)
                            {
                                <div class="slide-btn">@item.Year</div>
                            }
                            </div>

                            <div class="slider-for">
                            <!-- Year 2022 Starts -->
                            @foreach(var item in @Model.MediaStory)
                            {
                                var dataNumber = byte.MinValue;
                                var dataNumberMonth = byte.MinValue;

                                <div class="slide-container">
                                    <div class="container02">
                                        <div class="selectSection">
                                            @foreach(var data in @item.Month)
                                            {
                                                dataNumber = ++dataNumber;

                                                if(dataNumber == 1)
                                                {
                                                    <button type="button" data-number="@dataNumber" class="active">@data.Month</button>
                                                }
                                                else
                                                {
                                                    <button type="button" data-number="@dataNumber">@data.Month</button> 
                                                }
                                            }
                                        </div>

                                        <h5>@Model.Title</h5>

                                        <div class="contentSection">
                                            @foreach(var data in @item.Month)
                                            {
                                                dataNumberMonth = ++dataNumberMonth;

                                                <div class="content" data-number="@dataNumberMonth">
                                                    @foreach(var storyContent in @data.StoryContent)
                                                    {
                                                        <div class="card">
                                                            <div class="date">@storyContent.Calendar.ToString("dd-MMM-yy")</div>
                                                            @storyContent.Story
                                                            <div class="publister"><a href="@storyContent?.MediaLink?.Url"> @storyContent.MediaName </a></div>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            <!-- Year 2022 End -->
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!--  Media Stories End -->

            <!--  -->

        <section class="testimonials_style animatedParent mb-0">
            <div class="container">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="comma_icon"></div>
                        <div class="comma_icon_02"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sec_heading white_text">
                                        <h1>@Model?.TestimonialsTitle</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="testimonials_slider animated fadeInRightShort">
                            @foreach (ContentModels.Testimonials item in testimonial)
                            {
                                <div class="slide">
                                <div class="content_wrp">
                                    <p>@item.Content</p>

                                    <div class="Name_style">@item.TestimonialName</div>
                                    <div class="profession">@item.Designation</div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="offers_promotions NoPaMa">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text">@homepage?.PromotionsTitle</div>
                        <div class="sign_up">
                            <a href="@homepage?.OfferLink.Url">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <marquee id="MarqueeFooterId" class="footertext" onload="this.start();" onmouseover="this.stop();"
                onmouseout="this.start();" truespeed="" scrollamount="1" scrolldelay="20" direction="left" loop="repeat">
                @foreach (var item in @homepage.Offers.ToList())
                {
                    <span> @item</span>
                }
            </marquee>
            <div class="clearfix"></div>
        </section>

        <footer class="footer-wrapper" id="footer">
            <div class="footer-content overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-title">Popular Destinations</div>
                            @foreach (var item in @homepage.PopularDestinations)
                            {
                                <a href="@item.Link.Url" class="footer-item"> @item.Title</a>
                            }
                        </div>
                        <!--  -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-title">Things to do</div>
                            @foreach (var item in @homepage.ThinksToDo)
                            {
                                <a href="@item.Link.Url" class="footer-item">@item.Title</a>
                            }
                        </div>
                        <!--  -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-title">Plan your trip</div>
                            @foreach (var item in @homepage.PlanYourTrip)
                            {
                                <a href="@item.Link.Url" class="footer-item"> @item.Title </a>
                            }
                        </div>
                        <!--  -->

                        <div class="col-lg-3 col-md-6 mt-md-5">
                            @foreach (var item in @homepage.OtherLinks)
                            {
                                <a href="@item.Link.Url" class="footer-item"> @item.Title</a>
                            }
                        </div>
                        <!--  -->
                        <div class="copy-right">
                            <div class="footer_logo">
                                <img src="@homepage.FooterLogo.Url()" />
                            </div>
                            <div class="social-links">
                                <div class="socila-icons">
                                    <a href="@homepage.InstagramLink.Url">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                                <div class="socila-icons">
                                    <a href="@homepage.FacebookLink.Url">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="socila-icons">
                                    <a href="@homepage.YoutubeLink.Url">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </div>
                                <div class="socila-icons">
                                    <a href="@homepage.TwitterLink.Url">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                            @homepage.Copyright<a href="@homepage.DisclaimerLink.Url"> @homepage.Disclaimer </a> &nbsp; <a
                                href="@homepage.PrivacyPolicyLink.Url"> @homepage.PrivacyPolicy</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="scrollbar">
            <div class="scrollball">
                <span></span>
            </div>
        </div>
        <!-- Page Scroll bar -->
        <!-- jquery file -->

        <script src="~/assets/js/jquery.js"></script>

        <!-- bootstrap js file -->
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/js/menu.js"></script>
        <script src="~/assets/js/fancybox.js"></script>
        <script src="~/assets/js/slick.min.js"></script>
        <script src="~/assets/js/css3-animate-it.js"></script>

        <script src="~/assets/js/vertical-slide.js"></script>

        <script src="~/assets/js/scripts.js"></script>
        <script src="~/assets/js/newsroom_slide.js"></script>

        <div class="itinerary_style">
            <div class="itinerary">
                <div class="imageBox imageBefore">
                    <a href="#">
                        <img src="~/assets/images/itinerary_img.png" title="Itinerary" />
                    </a>
                </div>
                <div class="imageBox imageAfter">
                    <a href="#">
                        <img src="~/assets/images/itinerary_img_hover.png" title="Itinerary" />
                        <span>Itineraries </span>
                    </a>
                </div>
            </div>
        </div>
    </body>

</html>