@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsRoom>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
        <section class="NoBanner">
            <div class="container top_banner_news animatedParent">
                <div class="row">
                    <div class="col-12">
                        <div class="sec_heading">
                            <h1>@Model?.MainTitle</h1>
                        </div>

                        <div class="news_list animated fadeInUpShort">
                            <div class="news_img"><img src="@Model?.MainImage.Url()" /></div>
                            <div class="news_content">
                                <div class="date">@Model?.NewsroomDate</div>
                                <a href="@Model?.NewsroomLink.Url" target="_blank">
                                    @Model?.NewsroomStory
                                </a>
                                <div class="publister"><a href="@Model?.NewspaperLink.Url" target="_blank"> India Outbound </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  -->

        <section>
            <div class="container animatedParent">
                <div class="row animated fadeInUpShort">
                    <div class="col-md-6 left_news_style">
                        @foreach(var leftPanel in Model.LeftPanelNews)
                        {
                        <div class="news_list">
                            <div class="news_img"><img src="@leftPanel?.Image.Url()" /></div>

                            <div class="news_content">
                                <div class="date">@leftPanel?.NewsDate</div>
                                <a href="@leftPanel?.NewsStoryLink.Url" target="_blank">
                                    @leftPanel?.NewsStory
                                </a>
                                <div class="publister">
                                    <a href="@leftPanel?.NewsLink.Url" target="_blank"> @leftPanel?.NewsName </a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>

                    <div class="col-md-6 right_news_style">
                        @foreach( var rightPanel in Model.RightPanelNews)
                        {
                        <div class="news_list">
                            <div class="news_img">
                                <a href="#"> <img src="@rightPanel?.Image.Url()" /> </a>
                            </div>
                            <div class="news_content">
                                <div class="date">@rightPanel?.NewsDate</div>
                                <a href="@rightPanel?.NewsStoryLink.Url" target="">
                                    @rightPanel?.NewsStory
                                </a>
                                <div class="publister">
                                    <a href="@rightPanel?.NewsLink.Url" target=""> @rightPanel?.NewsName </a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </section>

        <!--  Media Stories Starts -->

        <section>
            <div class="container animatedParent">
                <div class="row animated fadeInUpShort">
                    <div class="col-12">
                        <div class="sld-wrp">
                            <div class="slider-nav">
                                <div class="slide-btn">Year 2022</div>
                                <div class="slide-btn">Year 2021</div>
                                <div class="slide-btn">Year 2020</div>
                            </div>

                            <div class="slider-for">
                                <!-- Year 2022 Starts -->

                                <div class="slide-container">
                                    <div class="container02">
                                        <div class="selectSection">
                                            <button type="button" data-number="1" class="active">Jan</button>
                                            <button type="button" data-number="2">Feb</button>
                                            <button type="button" data-number="3">Mar</button>
                                            <button type="button" data-number="4">Apr</button>
                                            <button type="button" data-number="5">May</button>
                                            <button type="button" data-number="6">Jun</button>
                                            <button type="button" data-number="7">Oct</button>
                                            <button type="button" data-number="8">Aug</button>
                                            <button type="button" data-number="9">Sep</button>
                                            <button type="button" data-number="10">Oct</button>
                                            <button type="button" data-number="11">Nov</button>
                                            <button type="button" data-number="12">Dec</button>
                                        </div>

                                        <h5>Media Stories</h5>

                                        <div class="contentSection">
                                            <div class="content" data-number="1">
                                                @foreach (var item in @Model.Jan)
                                                {
                                                    <div class="card">
                                                        <div class="date">@item.Calendar</div>
                                                        @item.Story
                                                        <div class="publister"><a href="@item.MediaLink.Url"> @item.MediaName </a></div>
                                                    </div>
                                                }
                                            </div>

                                            <!--  -->

                                            <div class="content" data-number="2">
                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <div class="content" data-number="3"><p>March content</p></div>
                                            <div class="content" data-number="4"><p>April content</p></div>
                                            <div class="content" data-number="5"><p>May content</p></div>
                                            <div class="content" data-number="6"><p>June content</p></div>
                                            <div class="content" data-number="7"><p>July content</p></div>
                                            <div class="content" data-number="8"><p>August content</p></div>
                                            <div class="content" data-number="9"><p>September content</p></div>
                                            <div class="content" data-number="10"><p>October content</p></div>
                                            <div class="content" data-number="11"><p>November content</p></div>
                                            <div class="content" data-number="12"><p>December content</p></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Year 2022 End -->

                                <!-- Year 2021 Starts -->

                                <div class="slide-container">
                                    <div class="container02">
                                        <div class="selectSection">
                                            <button type="button" data-number="1" class="active">Jan</button>
                                            <button type="button" data-number="2">Feb</button>
                                            <button type="button" data-number="3">Mar</button>
                                            <button type="button" data-number="4">Apr</button>
                                            <button type="button" data-number="5">May</button>
                                            <button type="button" data-number="6">Jun</button>
                                            <button type="button" data-number="7">Oct</button>
                                            <button type="button" data-number="8">Aug</button>
                                            <button type="button" data-number="9">Sep</button>
                                            <button type="button" data-number="10">Oct</button>
                                            <button type="button" data-number="11">Nov</button>
                                            <button type="button" data-number="12">Dec</button>
                                        </div>

                                        <h5>Media Stories</h5>

                                        <div class="contentSection">
                                            <div class="content" data-number="1">
                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <!--  -->

                                            <div class="content" data-number="2">
                                                <div class="card">
                                                    <div class="date">01-Feb-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Feb-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Feb-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Feb-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <div class="content" data-number="3"><p>March content</p></div>
                                            <div class="content" data-number="4"><p>April content</p></div>
                                            <div class="content" data-number="5"><p>May content</p></div>
                                            <div class="content" data-number="6"><p>June content</p></div>
                                            <div class="content" data-number="7"><p>July content</p></div>
                                            <div class="content" data-number="8"><p>August content</p></div>
                                            <div class="content" data-number="9"><p>September content</p></div>
                                            <div class="content" data-number="10"><p>October content</p></div>
                                            <div class="content" data-number="11"><p>November content</p></div>
                                            <div class="content" data-number="12"><p>December content</p></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Year 2021 End -->

                                <!-- Year 2020 Starts -->

                                <div class="slide-container">
                                    <div class="container02">
                                        <div class="selectSection">
                                            <button type="button" data-number="1" class="active">Jan</button>
                                            <button type="button" data-number="2">Feb</button>
                                            <button type="button" data-number="3">Mar</button>
                                            <button type="button" data-number="4">Apr</button>
                                            <button type="button" data-number="5">May</button>
                                            <button type="button" data-number="6">Jun</button>
                                            <button type="button" data-number="7">Oct</button>
                                            <button type="button" data-number="8">Aug</button>
                                            <button type="button" data-number="9">Sep</button>
                                            <button type="button" data-number="10">Oct</button>
                                            <button type="button" data-number="11">Nov</button>
                                            <button type="button" data-number="12">Dec</button>
                                        </div>

                                        <h5>Media Stories</h5>

                                        <div class="contentSection">
                                            <div class="content" data-number="1">
                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <!--  -->

                                            <div class="content" data-number="2">
                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <div class="content" data-number="3"><p>March content</p></div>
                                            <div class="content" data-number="4"><p>April content</p></div>
                                            <div class="content" data-number="5"><p>May content</p></div>
                                            <div class="content" data-number="6"><p>June content</p></div>
                                            <div class="content" data-number="7"><p>July content</p></div>
                                            <div class="content" data-number="8"><p>August content</p></div>
                                            <div class="content" data-number="9"><p>September content</p></div>
                                            <div class="content" data-number="10"><p>October content</p></div>
                                            <div class="content" data-number="11"><p>November content</p></div>
                                            <div class="content" data-number="12"><p>December content</p></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Year 2020 End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  Media Stories End -->

        <!--  -->

        <section class="testimonials_style animatedParent mb-0">
            <div class="container">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="comma_icon"></div>
                        <div class="comma_icon_02"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sec_heading white_text">
                                        <h1>Testimonials</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="testimonials_slider animated fadeInRightShort">
                            <div class="slide">
                                <div class="content_wrp">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                        qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="Name_style">Lorem ipsum</div>
                                    <div class="profession">Lorem ipsum dolor</div>
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="content_wrp">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                        qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="Name_style">Lorem ipsum</div>
                                    <div class="profession">Lorem ipsum dolor</div>
                                </div>
                            </div>

                            <!--  -->
                            <div class="slide">
                                <div class="content_wrp">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                        qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="Name_style">Lorem ipsum</div>
                                    <div class="profession">Lorem ipsum dolor</div>
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="content_wrp">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                        qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="Name_style">Lorem ipsum</div>
                                    <div class="profession">Lorem ipsum dolor</div>
                                </div>
                            </div>

                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </section>